ALTER TABLE post_comments ADD COLUMN likes_count INTEGER DEFAULT 0; ALTER TABLE post_comments ADD COLUMN parent_id INTEGER REFERENCES post_comments(id) ON DELETE CASCADE; CREATE TABLE IF NOT EXISTS comment_likes (comment_id INTEGER REFERENCES post_comments(id) ON DELETE CASCADE, user_id INTEGER REFERENCES users(id) ON DELETE CASCADE, PRIMARY KEY (comment_id, user_id)); ALTER TABLE groups ADD COLUMN creator_id INTEGER REFERENCES users(id); ALTER TABLE group_members ADD COLUMN role VARCHAR(20) DEFAULT 'member';
